:root {
    background-image: url(images/background.jpg);
}

.btn {
    background: #4e0066;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
    text-decoration: none;
}